:root {
  --gris1: #f00;
  --gris2: #f22;
  --gris3: #f44;
  --gris4: #f66;
  --gris5: #f88;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.contenedor {
  display: flex;
}
.contenedor .banda {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor .banda:nth-child(1) {
  background-color: var(--gris1);
}
.contenedor .banda:nth-child(2) {
  background-color: var(--gris2);
}
.contenedor .banda:nth-child(3) {
  background-color: var(--gris3);
}
.contenedor .banda:nth-child(4) {
  background-color: var(--gris4);
}
.contenedor .banda:nth-child(5) {
  background-color: var(--gris5);
}
.contenedor .banda:nth-child(1):hover,
.contenedor .banda:nth-child(2):hover,
.contenedor .banda:nth-child(3):hover,
.contenedor .banda:nth-child(4):hover,
.contenedor .banda:nth-child(5):hover {
  background-color: var(--gris5);
}
.contenedor .banda:nth-child(1):hover + .banda,
.contenedor .banda:nth-child(2):hover + .banda,
.contenedor .banda:nth-child(3):hover + .banda,
.contenedor .banda:nth-child(4):hover + .banda {
  background-color: var(--gris1);
}
.contenedor .banda:nth-child(1):hover + .banda + .banda,
.contenedor .banda:nth-child(2):hover + .banda + .banda,
.contenedor .banda:nth-child(3):hover + .banda + .banda {
  background-color: var(--gris2);
}
.contenedor .banda:nth-child(1):hover + .banda + .banda + .banda,
.contenedor .banda:nth-child(2):hover + .banda + .banda + .banda {
  background-color: var(--gris3);
}
.contenedor .banda:nth-child(1):hover + .banda + .banda + .banda + .banda {
  background-color: var(--gris4);
}
.contenedor .banda span {
  transition: transform 0.2s;
}
.contenedor .banda:hover span {
  transform: rotate(900deg);
}
