* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.contenedor {
  display: flex;
}
.contenedor .banda {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
